# Zomato 

By: Siny

Date: 07/08/2022

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
# pd.set_option('display.max_rows', 500)

## Load Data

In [2]:
zomato = pd.read_csv('data/zomato.csv', encoding='latin-1')
country = pd.read_excel('data/Country-Code.xlsx')

In [3]:
zomato.head(1)

,Restaurant ID,Restaurant Name,cc,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314

In [4]:
zomato.columns

Index(['Restaurant ID', 'Restaurant Name', 'cc', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [5]:
country.head(2)

   Country Code    Country
0             1      India
1            14  Australia

In [6]:
print(f"Zomato shape : {zomato.shape} and Country shape: {country.shape}")

Zomato shape : (9551, 21) and Country shape: (15, 2)

In [7]:
zomato_country = pd.merge(zomato, country, how='left', left_on ='cc', right_on='Country Code')
zomato_country.drop(['Country Code'], axis=1, inplace=True)
zomato_country.head(5)

,Restaurant ID,Restaurant Name,cc,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270,Phillipines
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines

In [8]:
print(f"Shape of merged data is {zomato_country.shape}")

Shape of merged data is (9551, 22)

In [9]:
zomato_country.columns

Index(['Restaurant ID', 'Restaurant Name', 'cc', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country'],
      dtype='object')

## Questions

1. Which restaurant has the largest number of votes from the customer

In [10]:
print(f"{zomato_country[zomato_country.Votes == max(zomato_country.Votes)]['Restaurant Name'].values} has the largest votes")

['Toit'] has the largest votes

2. Which city has more number of poor and not rated rating than very good rating in each country?

In [11]:
zomato_country['Rating text'].unique()

array(['Excellent', 'Very Good', 'Good', 'Average', 'Not rated', 'Poor'],
      dtype=object)

In [12]:
# Create dataframe with 'Rating text' which are 'Poor' or 'Very Good' or 'Not Rated'
z_rating = zomato_country.loc[(zomato_country['Rating text'] == 'Poor') | 
                   (zomato_country['Rating text'] == 'Not rated') |
                  (zomato_country['Rating text'] == 'Very Good')]

In [13]:
# group the data with country, city and ratings
z_rating = pd.crosstab([z_rating.Country, z_rating.City], z_rating['Rating text'])

In [14]:
# Created new column with the sum of Poor and not rated counts and droped the old columns
z_rating['Poor/Not Rated'] = z_rating['Poor'] + z_rating['Not rated']
z_rating.drop(['Poor', 'Not rated'], axis=1, inplace=True)

The cities with more number of poor and not rated rating than very good rating in each country are displayed below

In [15]:
z_rating[z_rating['Poor/Not Rated'] > z_rating['Very Good']]

Rating text              Very Good  Poor/Not Rated
Country       City
Australia     Montville          0               1
India         Faridabad          3             102
              Ghaziabad          0               3
              Gurgaon           83             262
              New Delhi        300            1522
              Noida             27             429
United States Mc Millan          0               1

3. Which city is costliest in each country? ( Assume all the currency are of same value)

In [16]:
g = zomato_country.groupby(['Country'])

In [17]:
for countryname , df in g:
    print(f"{countryname} : {df.groupby('City')['Price range'].mean().idxmax()}")

Australia : Paynesville
Brazil : Sí£o Paulo
Canada : Vineland Station
India : Panchkula
Indonesia : Bandung
New Zealand : Wellington City
Phillipines : Pasay City
Qatar : Doha
Singapore : Singapore
South Africa : Inner City
Sri Lanka : Colombo
Turkey : ÛÁstanbul
UAE : Abu Dhabi
United Kingdom : London
United States : Princeton

4. In india how many restaurants are present in each locality?

In [18]:
#Restaurants in India
rest_india = zomato_country[zomato_country.Country == 'India']

The restaurant by locality is:

In [19]:
loc_rest_count_india = rest_india.groupby('Locality')['Restaurant ID'].count()
loc_rest_count_india.head(10)

Locality
 ILD Trade Centre Mall, Sohna Road      2
12th Square Building, Banjara Hills     1
A Hotel, Gurdev Nagar                   1
ARSS Mall, Paschim Vihar                1
Aaya Nagar                              1
Acropolis Mall, Kasba                   2
Adajan Gam                              3
Adchini                                13
Aditya Mega Mall, Karkardooma           4
Adyar                                   1
Name: Restaurant ID, dtype: int64

Let us confirm if 'Adchini' has 13 restaurants as shown above

In [20]:
print(f"This confirms that Adchini has {rest_india[rest_india.Locality == 'Adchini'].shape[0]} restaurants")

This confirms that Adchini has 13 restaurants

5. Which city has the most number of restaurants in each country?

In [21]:
# the variable g is data grouped by country
for countryname, df in g:
    print(f"{countryname}: {df.groupby('City')['Restaurant ID'].count().idxmax()}")

Australia: Hepburn Springs
Brazil: Brasí_lia
Canada: Chatham-Kent
India: New Delhi
Indonesia: Jakarta
New Zealand: Auckland
Phillipines: Mandaluyong City
Qatar: Doha
Singapore: Singapore
South Africa: Cape Town
Sri Lanka: Colombo
Turkey: Ankara
UAE: Abu Dhabi
United Kingdom: Birmingham
United States: Albany

6. Which franchise has the highest number of Restaurants?

In [22]:
zomato_country.columns

Index(['Restaurant ID', 'Restaurant Name', 'cc', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country'],
      dtype='object')

In [23]:
zomato_country.groupby('Restaurant Name')['Restaurant ID'].count().sort_values(ascending=False)

Restaurant Name
Cafe Coffee Day                            83
Domino's Pizza                             79
Subway                                     63
Green Chick Chop                           51
McDonald's                                 48
                                           ..
Ghungroo Club & Bar - By Gautam Gambhir     1
Ghar Ki Handi                               1
Ghar Ka Swad                                1
Ghar Bistro Cafe                            1
íukuraÛôa SofrasÛ±                         1
Name: Restaurant ID, Length: 7446, dtype: int64

In [24]:
print(f"'{zomato_country.groupby('Restaurant Name')['Restaurant ID'].count().idxmax()}' has the highest number of restaurants")

'Cafe Coffee Day' has the highest number of restaurants

7. How many Restaurants are accepting online orders?

In [25]:
print(f"{zomato_country[zomato_country['Has Online delivery'] == 'Yes']['Restaurant ID'].count()} restaurants accepts online orders")

2451 restaurants accepts online orders

8. How many have a book table facility?

In [26]:
print(f"{zomato_country[zomato_country['Has Table booking'] == 'Yes']['Restaurant ID'].count()} restaurants have book table facility")

1158 restaurants have book table facility

9. Which location has the highest number of Restaurants?

In [27]:
print(f"'{zomato_country.groupby('Locality')['Restaurant ID'].count().idxmax()}' has the highest number of restaurants")

'Connaught Place' has the highest number of restaurants

10. How many types of Restaurant are there?

In [28]:
print(f"There are {zomato_country.Cuisines.nunique()} types of restaurants")

There are 1825 types of restaurants

11. What is the most liked Restaurant?

In [29]:
zomato_country.groupby('Restaurant Name')['Votes'].sum().idxmax()

'Barbeque Nation'

12. What is the Average cost for 2 persons in each city?

In [32]:
zomato_country.groupby(['Country', 'City'])['Average Cost for two'].mean()

Country         City
Australia       Armidale                      20.000000
                Balingup                      20.000000
                Beechworth                    20.000000
                Dicky Beach                    7.000000
                East Ballina                  20.000000
                Flaxton                       30.000000
                Forrest                       20.000000
                Hepburn Springs               13.500000
                Huskisson                     20.000000
                Inverloch                      7.000000
                Lakes Entrance                 7.000000
                Lorn                          20.000000
                Macedon                       20.000000
                Mayfield                      20.000000
                Middleton Beach               30.000000
                Montville                     30.000000
                Palm Cove                     30.000000
                Paynesville                  120.000000
                Penola                        20.000000
                Phillip Island                20.000000
                Tanunda                       30.000000
                Trentham East                 20.000000
                Victor Harbor                 20.000000
Brazil          Brasí_lia                    120.000000
                Rio de Janeiro               126.750000
                Sí£o Paulo                   157.250000
Canada          Chatham-Kent                  25.000000
                Consort                       25.000000
                Vineland Station              70.000000
                Yorkton                       25.000000
India           Agra                        1065.000000
                Ahmedabad                    857.142857
                Allahabad                    517.500000
                Amritsar                     480.952381
                Aurangabad                   622.500000
                Bangalore                   1232.500000
                Bhopal                       620.000000
                Bhubaneshwar                 678.571429
                Chandigarh                  1072.222222
                Chennai                     1085.000000
                Coimbatore                   782.500000
                Dehradun                     727.500000
                Faridabad                    447.609562
                Ghaziabad                    602.000000
                Goa                         1175.000000
                Gurgaon                      714.016100
                Guwahati                     821.428571
                Hyderabad                   1361.111111
                Indore                       960.000000
                Jaipur                      1310.000000
                Kanpur                       915.000000
                Kochi                        730.000000
                Kolkata                     1272.500000
                Lucknow                      859.523810
                Ludhiana                    1160.000000
                Mangalore                    782.500000
                Mohali                       550.000000
                Mumbai                      1072.500000
                Mysore                       814.500000
                Nagpur                       715.000000
                Nashik                       662.500000
                New Delhi                    596.088069
                Noida                        539.490741
                Panchkula                   2000.000000
                Patna                        797.500000
                Puducherry                   842.500000
                Pune                        1337.500000
                Ranchi                       735.000000
                Secunderabad                 825.000000
                Surat                        812.500000
                Vadodara                     820.000000
                Varanasi                     505.000000
                Vizag                        780.000000
Indonesia       Bandung                   150000.000000
                Bogor                     160000.000000
                Jakarta                   308437.500000
                Tangerang                 250000.000000
New Zealand     Auckland                      68.250000
                Wellington City               71.250000
Phillipines     Makati City                 1150.000000
                Mandaluyong City            2000.000000
                Pasay City                  3333.333333
                Pasig City                   933.333333
                Quezon City                  800.000000
                San Juan City                850.000000
                Santa Rosa                   825.000000
                Tagaytay City               1200.000000
                Taguig City                 1725.000000
Qatar           Doha                         223.750000
Singapore       Singapore                    155.750000
South Africa    Cape Town                    297.200000
                Inner City                  1120.000000
                Johannesburg                 470.000000
                Pretoria                     492.250000
                Randburg                     200.000000
                Sandton                      375.909091
Sri Lanka       Colombo                     2375.000000
Turkey          Ankara                        87.250000
                ÛÁstanbul                     81.428571
UAE             Abu Dhabi                    182.000000
                Dubai                        211.750000
                Sharjah                      105.500000
United Kingdom  Birmingham                    39.000000
                Edinburgh                     38.500000
                London                        64.500000
                Manchester                    49.250000
United States   Albany                        19.750000
                Athens                        19.000000
                Augusta                       27.000000
                Boise                         27.250000
                Cedar Rapids/Iowa City        25.750000
                Clatskanie                    10.000000
                Cochrane                      25.000000
                Columbus                      26.750000
                Dalton                        16.000000
                Davenport                     25.250000
                Des Moines                    28.000000
                Dubuque                       23.750000
                Fernley                       10.000000
                Gainesville                   21.250000
                Lakeview                      10.000000
                Lincoln                       25.000000
                Macon                         27.250000
                Mc Millan                     10.000000
                Miller                         0.000000
                Monroe                        25.000000
                Ojo Caliente                  40.000000
                Orlando                       40.250000
                Pensacola                     30.250000
                Pocatello                     20.750000
                Potrero                       25.000000
                Princeton                     70.000000
                Rest of Hawaii                31.750000
                Savannah                      32.500000
                Sioux City                    24.250000
                Tampa Bay                     34.750000
                Valdosta                      29.250000
                Vernonia                      10.000000
                Waterloo                      21.250000
                Weirton                       25.000000
                Winchester Bay                25.000000
Name: Average Cost for two, dtype: float64

In [30]:
print(f"Average Cost for two persons is {zomato_country['Average Cost for two'].mean()}")

Average Cost for two persons is 1199.2107632708617

13. What is the most liked Dish type?

In [31]:
zomato_country.groupby('Cuisines')['Votes'].sum().idxmax()

'North Indian, Mughlai'